.container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-wrap: nowrap;
}
.org-tree {
	width: 70%;
}
.employee-list-container {
	width: 30%;
	height: 100%;
}
.employee-list {
	height: 100%;
	padding-inline-start: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.employee-list-item {
	margin: 8px;
	box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
	padding: 6px 12px;
	display: flex;
	justify-content: flex-start;
}
.search-filter-employee {
	display: flex;
	padding: 20px;
}
.input-search-btn {
	position: relative;
	width: 80%;
	margin-right: 10px;
}
.search-input {
	width: 100%;
	height: 35px;
	outline: none;
	padding-left: 20px;
	font: 400 16px sans-serif;
}
.search-btn {
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	background: #11998e;
	color: #fff;
	outline: none;
	border: none;
	height: 35px;
}
.filter-btn {
	width: 20%;
	outline: none;
	height: 35px;
	font: 400 16px sans-serif;
}
.employee-image {
	height: 50px;
	width: 50px;
	margin-top: 20px;
	margin-right: 20px;
}
.employee-name {
	font: 600 20px sans-serif;
	margin: 0px;
	margin-top: 15px;
}
.employee-designation {
	margin-top: 5px;
	font: 400 16px sans-serif;
	display: flex;
	flex-direction: column;
}
.employee-team {
	font: 600 13px sans-serif;
	margin: 5px;
	width: 150px;
	text-align: center;
	padding: 5px 10px;
	border-radius: 5px;
	color: #000;
}
.org-tree ul {
	padding-top: 20px;
	position: relative;
	transition: all 0.5s;
}

.org-tree li {
	float: left;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.org-tree li::before,
.org-tree li::after {
	content: "";
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 50%;
	height: 20px;
}
.org-tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}

.org-tree li:only-child::after,
.org-tree li:only-child::before {
	display: none;
}

.org-tree li:only-child {
	padding-top: 0;
}

.org-tree li:first-child::before,
.org-tree li:last-child::after {
	border: 0 none;
}

.org-tree li:last-child::before {
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.org-tree li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.org-tree ul ul::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #ccc;
	width: 0;
	height: 20px;
}

.org-tree li a {
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.org-tree li a:hover,
.org-tree li a:hover + ul li a {
	background: #c8e4f8;
	color: #000;
	border: 1px solid #94a0b4;
}

.org-tree li a:hover + ul li::after,
.org-tree li a:hover + ul li::before,
.org-tree li a:hover + ul::before,
.org-tree li a:hover + ul ul::before {
	border-color: #94a0b4;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
	/* width: 300px; */
}

.card .image {
	border-radius: 50%;
	width: 80px;
	min-height: 80px;
	display: block;
	margin: 10px auto;
	z-index: 100;
}
.card .image img {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	border: 13px solid #96f6b7;
}
.card .card-body {
	background: #fff;
	min-height: 56px;
	text-align: center;
	width: 300px;
	border-radius: 16px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	position: relative;
	z-index: -1;
	left: 50%;
	transform: translateX(-50%);
}

.card .card-body h4 {
	font-weight: 600;
	margin: 5px auto;
	line-height: 20px;
}
.card .card-body p {
	line-height: 20px;
	margin: 5px auto;
	font-size: small;
}
.card .card-footer {
	padding: 3px;
	background: #96f6b7;
	text-align: center;
	bottom: 0;
	position: relative;
	width: 295px;
	border-radius: 16px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	z-index: -1;
	left: 50%;
	transform: translateX(-50%);
}
.card .card-footer img {
	width: 25px;
	margin: 5px;
}

@media all and (max-width: 1000px) {
	.container {
		flex-direction: column;
		flex-wrap: wrap;
	}
	.org-tree {
		width: 100%;
	}
	.employee-list-container {
		width: 100%;
		height: 100%;
	}
}
